@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}

.hero {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}

.logo {
  height: 3rem !important;
  width: 3rem !important;
}

.bg-deep-green-light {
  background-color: #eef2ff;
}

.features-section,
.ideal-scenarios {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.card-feature {
  transition: all 0.3s ease;
  border-top: 4px solid #00899e;
}

.card-feature:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transform: translateY(-5px);
}
